# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
src/node_modules/

# Logs
logs/
*.log

# dotenv environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Docker artifacts
image.tar

# Editor/IDE
.vscode/
.idea/
*.swp

# Artifacts from GitHub Actions
security-report.json
src/audit.json

# Misc
*.tgz